[submodule "thirdparty/revde"]
	path = thirdparty/revde
	url = https://github.com/fudavd/revde.git
[submodule "thirdparty/multi-stitch-stream"]
	path = thirdparty/mss
	url = https://github.com/fudavd/multi-stitch-stream.git
[submodule "thirdparty/revolve2"]
	path = thirdparty/revolve2
	url = https://github.com/fudavd/revolve2.git
